$blue: #659996;
$orange: #cd7807;
$purple: #786e7e;
$green: #b7c18f;
$red: #d7a6ac;
$white: #f6ece1;
$black:#333;



:export {
    blue:$blue;
    orange: $orange;
    purplr: $purple;
    green:$green;
    red:$red;
    white:$white;
    black:$black;
}