@use '../../assets/colors.module';
.sliderHolder{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    .slider{
        overflow: hidden;
        height: 630px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div{
        
            img{

            }
        }
    }
    .buttonHolder {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top:35%;
        width: 100%;
    }
}

